.header__workhour {
  height: 100%;
  width: 60%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;

  font-family: "Open Sans", sans-serif;
  padding-top: 29px;
  padding-left: 2px;
  padding-right: 15px;
  font-size: 14px;
  color: #4A4A4A;
}
