
.masonry__masonry-brick {
  float: left;
  //background: #D26;
  //border: 1px solid #333;
  //box-sizing:border-box;
  border-color: hsla(0, 0%, 0%, 0.5);
  width: 50%;
  min-height: 150px;
  margin: auto;


  -webkit-box-shadow:inset 0px 0px 0px 0.5px black;
  -moz-box-shadow:inset 0px 0px 0px 0.5px black;
  box-shadow:inset 0px 0px 0px 0.5px  black;

  //border-radius: 5px;
}