
.masonry__masonry-brick {
  float: left;
  //background: #D26;
  //border: 1px solid #333;
  //box-sizing:border-box;
  border-color: hsla(0, 0%, 0%, 0.5);
  width: 25%;
  min-height: 150px;
  margin: auto;

  //border-radius: 5px;
}