
.masonry__masonry-brick {
  float: left;
  //background: #D26;
  //border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  //border-radius: 5px;
}

.masonry__masonry-brick:hover{
  background-color: #2E2F30;
  opacity: 0.9;
  transition: .5s;
}