.main {
  height: calc( 100% - 200px );
  width: calc( 100% - 400px );
  background-color: #BBBBBB;
  border: dashed 1px;
  float: left;
  box-sizing: border-box;


}
.masonry {
  column-count: 4;
  column-gap: 1em;
}
