.main {
  height: calc( 100% - 200px );
  width: calc( 100% - 250px );
  background-color: #BBBBBB;
  //border: dashed 1px;
  float: right;
  //box-sizing: border-box;


}
.masonry {
  column-count: 4;
  column-gap: 1em;
}
