.outside__link {
  width: 40px;
  height: 40px;
  display: block;
  fill: #767676;
  fill-rule: evenodd;

  //stroke: rgba(0, 0, 0, .5);
  //stroke-width: 2;
  //stroke-dasharray: 300 0;
  //stroke-dashoffset: 1000;
  //animation: dasharray 7s infinite alternate;
}
.outside__link:hover{
  color: #5b7aa8;
  stroke: currentColor;
  fill: currentColor ;
}